{% extends 'quiz/scores/scores_base.html' %}
{% block scores_title %}
    Score Overview
{%endblock %}

{% block scores_help_text %}
    This is a list of all the semesters we have on record for CARE for the school of social work. Click on a year to see the semesters.
{% endblock %}

{% block scores_filter %}
    <div class="btn-group">
          <button class="btn btn-large" >2010</button>
          <button class="btn btn-large" >2011</button>
          <button class="btn btn-large" >2012</button>
          <button class="btn btn-large" >2013</button>
    </div>
{% endblock %}

{% block results %}
    Results of filtering
{% endblock %}
