{% extends 'quiz/scores/scores_base.html' %}

{% block scores_title %}
{% endblock %}


{% block scores_breadcrumbs %}
      <li>
        <a href="/scores/" class="active" >Scores</a>
            <span class="divider">/</span>
      </li>
{% endblock scores_breadcrumbs %}


{% block full_page_results %}
    <div>
        <h1>Student Scores</h1>
        <p>To find a student's scores, click one of the buttons below.</p>
        <p><a class="btn btn-primary btn-large" color="white"  href = "/scores/socialwork/uni/">Search by UNI</a> <a class="btn btn-primary btn-large" color="white"  href = "/scores/socialwork/year/">Browse by Semester/Course</a></p>
        
<p>Click the button below to view a table of all students' scores. Note that this will take some time to load.</p>
<a class="btn btn-primary btn-large" color="white"  href = "/stats/registrar/" target="_blank">View All Scores</a></p>
    </div>
{%endblock %}
