{% extends 'quiz/scores/scores_base.html' %}
{% block scores_title %}
    Score Overview
{%endblock %}
{% block scores_help_text %}
    This is a list of all the semesters we have on record for CARE for the school of social work. Click on a year to see the semesters.
{% endblock %}

{% block scores_breadcrumbs %}
    <li>
        <a href="/scores/" class="active" >Scores</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="/scores/socialwork/year/" class="active" >Semesters</a>
            <span class="divider">/</span>
    </li>
{% endblock scores_breadcrumbs %}

{% block scores_filter %}
    <ul class="nav nav-list">
            {% for y in years %}
              <li class="nav-header">
                 <a href = "/scores/socialwork/year/{{y}}/">{{y}}</a>
              </li>
            {% endfor %}
    </ul>
{% endblock %}
