{% extends 'quiz/scores/scores_base.html' %}
{% load smartif %}
{% block scores_breadcrumbs %}
    <li>
        <a href="/scores/" class="active" >Scores</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="/scores/socialwork/uni/" >Search by UNI</a>
        <span class="divider">/</span>
    </li>
{% endblock scores_breadcrumbs %}

{% block scores_title %}
    {%if student %}UNI Search Results for "{{uni}}"{%else %}UNI Search Page{%endif %}
{%endblock %}

{% block scores_help_text %}
    {%if not student %}
     To search for a student's scores, enter his/her UNI into the box below and then click on "Search."
    {%else %}
        {{student_info|length}} student{{student_info|pluralize:" was found,s were found"}}. Students who have not logged into CARE might not be displayed in these search results.
    {%endif %}
{% endblock %}


{% block full_page_results %}
    {% if error %}
        <div class="alert alert-error">
            {{error}}
        </div>  
    {% endif  %}

    {%if not student %}
    <form action ="/scores/socialwork/uni/" method="post" class="well form-search">
      <div class="input-append">
               Student UNI:  <input class="span3 search-query" id="appendedInputButton" size="16" type="text" name ="uni" value="{{uni}}"></input><button class="btn" type="submit">Search</button>
      </div>
    </form>
    {%endif %}

        
     {%if student %}
        {% include "quiz/scores/score_table.html" %}
     {%endif %}
{%endblock%}
