{% extends 'quiz/scores/scores_base.html' %}
{% load smartif %}
{% block scores_breadcrumbs %}
    <li>
        <a href="/scores/" class="active" >Scores</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="/scores/socialwork/uni/" >UNI Lookup</a>
        <span class="divider">/</span>
    </li>
{% endblock scores_breadcrumbs %}

{% block scores_title %}
    {%if student %}UNI Search Results for "{{uni}}"{%else %}UNI Search Page{%endif %}
{%endblock %}

{% block scores_help_text %}
    {%if not student %}
     To search for a student's results, try typing the student's UNI below, then clicking on "Search".
    {%else %}
        {{student_info|length}} student{{student_info|pluralize:" was found,s were found"}}. Students who have not logged into CARE might not be displayed in these search results.
    {%endif %}
{% endblock %}


{% block full_page_results %}
    {% if error %}
        <div class="alert alert-error">
            {{error}}
        </div>  
    {% endif  %}

    {%if not student %}
    <form action ="/scores/socialwork/uni/" method="post">
        Student UNI:<input type="text" name ="uni" value="{{uni}}"></input>
        <input type="submit" value="Search" ></input>
    </form>
    
    {%endif %}

        
     {%if student %}
        {% include "quiz/scores/score_table.html" %}
     {%endif %}
{%endblock%}
