{% extends 'carr_main/add_classes/add_classes_base.html' %}


{% block add_classes_title %}Add Courses to CARE{%endblock %}

{% block help_text %}
   To add one or more courses, enter the section key(s) below. 
{% endblock %}


    {% block warnings %}
        <div class="alert">
<button class="close" data-dismiss="alert">×</button>
Please note that this system cannot identify incorrect section key(s), so it is important to copy/paste them <strong>exactly</strong> as listed in the <a href ="http://www.columbia.edu/cu/bulletin/uwb/" target="_blank" > directory of classes.</a>
        </div>
    {% endblock %}


{% block full_page_results %}
    {% if error %}
        <div class="alert alert-error">
            {{error}}
        </div>  
    {% endif  %}
    
    {% if success %}
        <div class="alert alert-success">
            The course (or courses) has been added successfully.
        </div>  
    {% endif  %}
    
    
    {% include 'carr_main/add_classes/form_chunk.html' %}

    <div class="well">
        <button type="button" class="close" data-dismiss="alert">×</button>
        Default faculty: {% for df in default_faculty%}{{df.last_name}}{%if not forloop.last %}, {%endif %}{% endfor %}.
    </div>
{%endblock%}

