img.bruise_recon_img
{
	width: 510px;
	height: 390px;
}

div#case_info_div
{
	position: relative;
	border: 1px solid #d0c4da;
	height: 410px;
	margin-bottom: 30px;
}

div#bruise_recon_photo_container
{
	position: absolute;
	top: 10px;
	left: 10px;
	width: 510px;
	height: 390px;
}

div#bruise_recon_history_container
{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 200px;
	height: 390px;
	background-color: #fff;
	overflow: auto;
	padding: 0px 5px 0px 5px;
	border: 1px solid #d0c4da;
	font-size: 12px;
	line-height: 14px;
}

div.questions_div { }

div.feedback_div { }

.purple_button
{
	border-top: 1px solid #ccc;
	border-right: 1px solid #666;
	border-bottom: 1px solid #000;
	border-left: 1px solid #666;
	width: 50px;
	margin: 3px;
	cursor: pointer;
	text-align: center;
	font-weight: bold;
	background-color: #fff;
}


.button_selected
{
	background-color: #d4c9dd;
}


div#hidden_js_info {
    display:none
}

div#bruise_recon_photo_container {
   float:left;
 
}

div#bruise_recon_photo_container, div#bruise_recon_history_container {
   padding: 5px;
   margin: 3px;
}
 
div.answer_button { float: left; }

div.buttons_div, div.purple_button
{
	float: none;
	clear: both;
	padding: 5px;
	margin: 3px;
}

div#correct_factors { display: none; }


div.factors_div , #submit_div, #questions_div, #feedback_div
{
	float: none;
	clear: both;
}

div.bruise_recon_checkbox_div
{
	width: 150px;
	float: left;
	font-size: 80%;
}



