img.bruise_recon_img
{
	width: 510px;
	height: 390px;
}

div#case_info_div
{
	position: relative;
	border: 1px solid #d0c4da;
	height: 430px;
	margin-bottom: 30px;
}

div#bruise_recon_photo_container
{
	position: absolute;
	top: 10px;
	left: 10px;
	width: 510px;
	height: 390px;
}

div#bruise_recon_history_container
{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 200px;
	height: 390px;
	background-color: #fff;
	overflow: auto;
	padding: 0px 5px 0px 5px;
	border: 1px solid #d0c4da;
	font-size: 12px;
	line-height: 14px;
}

div.questions_div { }

div.feedback_div { }

div#your_answer_was
{
	padding: 10px;
	margin: 50px 30px 30px 30px;
	font-weight: bold;
	background-color: #ffc;
	text-align: center;
	border: 1px solid #d0c4da;
}

.purple_button
{
	border: 1px solid #d0c4da;
	color: #d0c4da;
	width: 50px;
	margin: 3px;
	cursor: pointer;
	text-align: center;
	font-weight: bold;
	background-color: #fff;
	font-size: 14px !important;
}

.button_selected 
{ 
	border: 1px solid #000;
	color: #000;
	width: 50px;
	margin: 3px;
	cursor: pointer;
	text-align: center;
	font-weight: bold;
	background-color: #d4c9dd; 
	font-size: 14px !important;
}

div#hidden_js_info { display: none; }

div.answer_button { float: left; }

div.buttons_div
{
	float: none;
	clear: both;
	padding: 5px;
	margin: 3px;
}

div.factors_div ,#questions_div, #feedback_div
{
	float: none;
	clear: both;
}

#submit_div
{
	color: #fff;
	margin: 3px;
	width: 150px;
	cursor: pointer;
	text-align: center;
	font-weight: bold;
	background-color: #090;
	padding: 5px 10px 5px 10px;
	margin-top: 50px;
	font-size: 14px !important;
	border: 1px solid #d0c4da;
}

div.bruise_recon_checkbox_div
{
	width: 170px;
	float: left;
}