.activity_step { display: none; }

.half-page
{
	float: left;
	padding: 0px 10px 0px 0px;
	margin: 0px 10px 0px 0px;
	width: 350px;
}

.half-page, .half-page p, #case_summary p { font-size: 100%; }

.half-page p
{
	margin-bottom: 20px;
	padding-left: 20px;
	position: relative;
}

.half-page p.half-page_heading
{
	font-weight: bold;
	margin-left: -20px;
}

.half-page input.checkbox
{
	position: absolute;
	top: 0;
	left: -5px;
}

a.reset_button { margin-top: -50px; }

#review_case_button, a.reset_button, #show_expert_form
{
	background-color: #eee;
	border: 1px solid #ccc;
	text-decoration: none;
	width: 150px;
	text-align: center;
	color: purple;
    z-index: 100;
    cursor : pointer;
}

.taking_action_pagenumber {
  text-align: center;
  color: #888;
  clear: both;
}

#show_expert_form
{margin-bottom: 50px;}

div.purple_button
{
	border: 3px solid #D4C9DD;
	width: 150px;
	margin: 3px;
	float: right;
	clear: both;
	cursor: pointer;
	text-align: center;
}

div.report_form.expert_form { display: none; }

textarea.other_observations
{
	width: 300px;
	height: 40px;
}

p.action_explanation { display: none; }

.action_button
{
	cursor: pointer;
	text-align: center;
	margin-bottom: 1em;
	padding: 10px;
	display: block;
	font-weight: bold;
	color: #000;
	border: 1px solid #D4C9DD;
}

#show_expert_form
{margin-bottom: 50px;}

.expert_form
{border: 1px solid #eee; background-color: #efefef;}



div#scrolling_ldss_form {
   	background-image: url(/site_media/img/ldss.png);
	width: 650px;
	height: 870px;
}

#case_summary { min-height: 400px; }

p.correct_choice {color: green;}


pre.magic_form {
    color: blue;
	/*left: 100px; */
}

div.positioner_div {

    position: absolute;
    margin: 0px;
	font-size: 8px important;
    cursor: text;

}

div.ldss_form_div {
   	background-size: contain;
   	background-repeat: no-repeat;
   	width : 750px;
    position:relative; /* this allows the inputs inside this div to be positioned relative to me.*/
}

div.ldss_form_complete {
   	background-image: url(/site_media/img/form_complete.png);
    height : 1000px;
}

div.ldss_form_top {
   	background-image: url(/site_media/img/form_top.png);
    height : 399px;
}

div.ldss_form_middle {
   	background-image: url(/site_media/img/form_middle.png);
    height : 313px;
}

div.ldss_form_bottom {
   	background-image: url(/site_media/img/form_bottom.png);
    height : 500px;
}


input.ldss_form_input {
    position: absolute; /* but relative to the div that i'm in. */
    min-width: 0px;
    min-height: 0px;
    font-size: .7em !important;
    height: 14px !important;
    font-family: Courier New, monospace;
    color: blue;
    text-transform:uppercase;
}

.form_fields_are_not_editable  .ldss_form_input {
    color: green;
}

/* top of form */
.ldss_form_top input.top_1 {
    top: 21px !important;
    left:424px !important;
    width:78px !important;
}
.ldss_form_top input.top_2 {
    top: 21px !important;
    left:514px !important;
    width:78px !important;
}
.ldss_form_top input.top_3 {
    top: 21px !important;
    left:600px !important;
    width:78px !important;
}

/* second line */
.ldss_form_top input.top_4 {
    top: 59px !important;
    left:514px !important;
    width:78px !important;
}
.ldss_form_top input.top_5 {
    top: 59px !important;
    left:600px !important;
    width:78px !important;
}

/*subjects of report table */

.ldss_form_top input.line_1 {
    top: 127px !important;
}

.ldss_form_top input.line_2 {
    top: 151px !important;
}

.ldss_form_top input.line_3 {
    top: 175px !important;
}

.ldss_form_top input.line_4 {
    top: 199px !important;
}

.ldss_form_top input.line_5 {
    top: 223px !important;
}

.ldss_form_top input.line_6 {
    top: 247px !important;
}

.ldss_form_top input.line_7 {
    top: 271px !important;
}


.ldss_form_top input.name_column {
    left: 20px !important;
    width: 352px !important;
}
.ldss_form_top input.sex_column {
    left: 379px !important;
    width: 39px !important;
}
.ldss_form_top input.age_column {
    left: 426px !important;
    width: 54px !important;
}
.ldss_form_top input.race_column {
    left: 487px !important;
    width: 34px !important;
}
.ldss_form_top input.ethnicity_column {
    left: 569px !important;
    width: 16px !important;
}
.ldss_form_top input.relation_column {
    left: 635px !important;
    width: 31px !important;
}
.ldss_form_top input.role_column {
    left: 675px !important;
    width: 26px !important;
}
.ldss_form_top input.lang_column {
    left: 711px !important;
    width: 26px !important;
}

/* phone # and addresses */
.ldss_form_top input.line_8 {
    top: 345px !important;
}

.ldss_form_top input.line_9 {
    top: 370px !important;
}

.ldss_form_top input.address_column {
    left: 8px !important;
    width: 580px !important;
}

.ldss_form_top input.phone_column {
    left: 600px !important;
}


.ldss_form_middle input.small_input {
    width: 30px !important;
}


.ldss_form_middle input.column_1 {
    left: 6px !important;
}
.ldss_form_middle input.column_2 {
    left: 334px !important;
}
.ldss_form_middle input.column_3 {
    left: 521px !important;
}


.ldss_form_middle input.line_1 {
    top: 35px !important;
}
.ldss_form_middle input.line_2 {
    top: 56px !important;
}
.ldss_form_middle input.line_3 {
    top: 80px !important;
}

.ldss_form_middle input.line_4 {
    top: 102px !important;
}

.ldss_form_middle input.line_5 {
    top: 126px !important;
}

.ldss_form_middle input.line_6 {
    top: 147px !important;
}

.ldss_form_middle input.line_7 {
    top: 168px !important;
}


.ldss_form_middle input.line_8 {
    top: 190px !important;
}

/*CAUTION -- override */
.ldss_form_middle input.column_3.line_8 {
    left: 463px !important;
    height: 12px !important;
}

.ldss_form_middle input.reasons_for_suspicion_1 {
    left: 6px !important;
    top: 254px !important;
    width: 464px !important;
}

.ldss_form_middle input.reasons_for_suspicion_2 {
    left: 6px !important;
    top: 273px !important;
    width: 464px !important;
}

.ldss_form_middle input.month {
    left: 500px !important;
    top: 227px !important;
    width: 50px !important;
    height: 10px !important;
}
.ldss_form_middle input.day {
    left: 500px !important;
    top: 242px !important;
    width: 50px !important;
    height: 10px !important;
}
.ldss_form_middle input.year {
    left: 500px !important;
    top: 257px !important;
    width: 50px !important;
    height: 10px !important;
}


.ldss_form_middle input.hour {
    left: 500px !important;
    top: 257px !important;
    width: 50px !important;
    height: 10px !important;
}

.ldss_form_middle input.minute {
    left: 500px !important;
    top: 257px !important;
    width: 50px !important;
    height: 10px !important;
}

.ldss_form_middle input.am {
    left: 613px !important;
    top: 277px !important;
    width: 6px !important;
    height: 6px !important;
}
.ldss_form_middle input.pm {
    left: 649px !important;
    top: 277px !important;
    width: 6px !important;
    height: 6px !important;
}
.ldss_form_middle input.requests_finding_yes {
    left: 610px !important;
    top: 292px !important;
    width: 10px !important;
    height: 10px !important;
}
.ldss_form_middle input.requests_finding_no {
    left:689px !important;
    top: 292px !important;
    width: 10px !important;
    height: 10px !important;
}


/* Bottom part of form */

.ldss_form_bottom input.name_1 {
    left:6px !important;
    top: 34px !important;
    width: 222px !important;
    height: 10px!important;
}
.ldss_form_bottom input.phone_1 {
    left:235px !important;
    top: 34px !important;
    width: 96px !important;
    height: 10px!important;
}
.ldss_form_bottom input.address_1 {
    left:6px !important;
    top: 64px !important;
    width: 325px !important;
    height: 10px!important;
}
.ldss_form_bottom input.institution_1 {
    left:6px !important;
    top: 93px !important;
    width: 325px !important;
    height: 10px!important;
}


.ldss_form_bottom input.name_2 {
    left:342px !important;
    top: 34px !important;
    width: 265px !important;
    height: 10px!important;
}
.ldss_form_bottom input.phone_2 {
    left:615px !important;
    top: 34px !important;
    width: 126px !important;
    height: 8px!important;
}
.ldss_form_bottom input.address_2 {
    left:342px !important;
    top: 64px !important;
    width: 398px !important;
    height: 10px!important;
}
.ldss_form_bottom input.institution_2 {
    left:342px !important;
    top: 93px !important;
    width: 398px !important;
    height: 10px!important;
}

/* Relationship checkboxes. */

.ldss_form_bottom input.relationship_line_1 {
    top: 129px !important;
    width: 20px !important;
}


.ldss_form_bottom input.relationship_line_2 {
    top: 148px !important;
    width: 20px !important;
}

.ldss_form_bottom input.relationship_line_1.c1 {
    left: 6px !important
}
.ldss_form_bottom input.relationship_line_1.c2{
    left: 146px !important
}
.ldss_form_bottom input.relationship_line_1.c3{
    left: 236px !important
}
.ldss_form_bottom input.relationship_line_1.c4{
    left: 336px !important
}
.ldss_form_bottom input.relationship_line_1.c5{
    left: 458px !important
}
.ldss_form_bottom input.relationship_line_1.c6{
    left: 540px !important
}
.ldss_form_bottom input.relationship_line_1.c7{
    left: 620px !important
}




.ldss_form_bottom input.relationship_line_2.c1{
    left: 6px !important
}
.ldss_form_bottom input.relationship_line_2.c2{
    left: 121px !important
}
.ldss_form_bottom input.relationship_line_2.c3{
    left: 224px !important
}
.ldss_form_bottom input.relationship_line_2.c4{
    left: 326px !important
}
.ldss_form_bottom input.relationship_line_2.c5{
    left: 430px !important
}

.ldss_form_bottom input.signature_line {
    top: 280px !important;
}

.ldss_form_bottom input.signature_line.c1{
    left: 6px !important;
    width:373px!important;
}
.ldss_form_bottom input.signature_line.c2{
    left: 387px !important;
    width:199px!important;
}
.ldss_form_bottom input.signature_line.c3{
    top: 284px !important;
    left: 619px !important;
    height:10px!important;
    width:30px!important;
}
.ldss_form_bottom input.signature_line.c4{
    top: 284px !important;
    left: 647px !important;
    height:10px!important;
    width:30px!important;
}
.ldss_form_bottom input.signature_line.c5{
    top: 284px !important;
    left: 670px !important;
    height:10px!important;
    width:30px!important;
}


/********/

/*
#callout_container
{
	float: left;
	left: 25px;
	margin-top: -35px;
	position: absolute;
}

.callout
{
	font-size: 80%;
	line-height: 120%;
	background-color: #efc48d;
	margin: 3px;
	padding: 5px;
	width: 170px;
	border: 1px solid #eaa141;
}

#answer_container
{
	float: left;
	margin-top: -23px;
	*margin: -20px 0 0 8px;
}

.correct_answer
{
	font-size: 80%;
	line-height: 120%;
	background-color: #ddd;
	color: #4F8A10;
	border: 1px solid #4F8A10;
	padding: 2px 4px;
	width: 145px;
}

.connecting_line
{
	position: absolute;
	margin: 0;
	padding: 0;
	background-color: white;
	z-index: 20;
	border-bottom: 1px solid #eaa141;
}

#blankrx
{
	height: 221px;
	background-image: url(/activity/prescription/media/images/blankrx_sm.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	padding: 244px 0 0 55px;
}

#dosage, #disp
{
	margin-bottom: 3px;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

#sig
{
	height: 62px;
	overflow: auto;
	width: 212px;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

#refills
{
	margin: 36px 0 0 44px\9;
	*margin: 29px 0 0 35px;
	width: 40px;
	text-align: right;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

#feedback
{
	display: block;
	height: 209px;
	margin: -151px 0 0 -55px;
	*margin: -160px 0 0 -55px;
}

#dosage_correct
{
	position: relative;
	margin: 0px 0 3px 215px;
	*margin: 10px 0 3px 215px;
}

#disp_correct
{
	position: relative;
	margin: 3px 0 2px 215px;
}

#sig_correct
{
	position: relative;
	margin: 3px 0 2px 278px;
}

#refills_correct
{
	left: 381px;
	position: absolute;
	top: 665px;
	width: 64px;
	*top: 661px;
}

#refills_callout
{
	position: absolute;
	top: 134px;
}
*/
