Django==1.7.9
Markdown==2.6.2
pyenchant==1.6.6
uuid==1.30
psycopg2==2.5.4
Pillow==2.8.1
statsd==3.1
coverage==3.7.1
python-ldap==2.4.19
mccabe==0.3
pyflakes==0.8.1
pep8==1.6.2
flake8==2.3.0
logilab-common==0.59.0
logilab-astng==0.24.1
pylint==1.4.1

django-courseaffils==1.0.0
django-smartif==0.1
djangowind==0.13.3
sorl==3.1
pagetree==0.5.9
django-pageblocks==1.0.2
djangohelpers==0.18.1
django-statsd-mozilla==0.3.14
django-jenkins==0.17.0
django-smoketest==0.3.0
raven==5.2.0
factory_boy==2.4.1
django-waffle==0.10.1
django-annoying==0.8.1
django-markwhat==1.3
