Django==1.8.4
Markdown==2.6.2
pyenchant==1.6.6
uuid==1.30
psycopg2==2.6.1
Pillow==2.8.1
statsd==3.1
coverage==3.7.1
python-ldap==2.4.20
mccabe==0.3.1
pyflakes==0.8.1
pep8==1.6.2
flake8==2.3.0
logilab-common==1.0.2
logilab-astng==0.24.1
pylint==1.4.1
pyasn1==0.1.8
pyOpenSSL==0.15.1
ndg-httpsclient==0.4.0

django-courseaffils==2.0.2
django-smartif==0.1
djangowind==0.13.3
sorl==3.1
pagetree==0.5.9
django-pageblocks==1.0.2
djangohelpers==0.18.1
django-statsd-mozilla==0.3.15
django-jenkins==0.17.0
django-smoketest==0.3.0
raven==5.2.0
factory_boy==2.4.1
django-waffle==0.10.1
django-annoying==0.8.3
django-markwhat==1.4
