Django>=2.2.13,<3
Markdown==3.3.4
pyenchant==3.2.1
psycopg2==2.8.6
olefile==0.46
Pillow==8.3.2
statsd==3.3.0
coverage==5.5
ldap3==2.9.1
mccabe==0.6.1
pyflakes==2.3.1
pep8==1.7.1
pycodestyle==2.7.0
configparser==5.0.2
importlib-metadata==4.8.1  # for flake8
typing_extensions==3.10.0.2
zipp==3.5.0  # for flake8
flake8==3.9.2
logilab-common==1.8.1
astroid==2.7.3
editdistance==0.5.3

pylint==2.11.1
pyasn1==0.4.8
sqlparse==0.4.2
six==1.16.0
contextlib2==21.6.0
rcssmin==1.0.6
rjsmin==1.1.0
ipaddress==1.0.23
pytz==2021.1

django-courseaffils==2.2.5
djangowind==1.2.3
requirements/src/sorl-3.2ctl-py2.py3-none-any.whl
pagetree==0.7.2
django-pageblocks>=0.5.17,<1.0.0
requirements/src/djangohelpers-0.22-py2.py3-none-any.whl
django-statsd-mozilla==0.4.0

django-smoketest==1.1.2

raven==6.10.0
sentry-sdk==1.3.1

text-unidecode==1.3
Faker==8.13.2

factory_boy==3.2.0
django-waffle==2.2.1
django-markwhat==1.6.2
django-impersonate==1.7.3
django-ga-context==0.1.0

django-debug-toolbar==3.2.2
gunicorn==20.1.0

django-appconf==1.0.4
django-compressor==2.4.1
django-stagingcontext==0.1.0
certifi==2021.5.30  # sentry-sdk
urllib3==1.26.6  # sentry-sdk
s3transfer==0.5.0
jmespath==0.10.0

botocore>=1.15.0,<1.22.0
boto3>=1.12.0,<1.19.0

python-dateutil==2.8.2
django-storages==1.11.1

django-cacheds3storage==0.2.2
# memcached
pylibmc==1.6.1; sys_platform == 'linux'
django-smtp-ssl==1.0

ccnmtlsettings==1.9.0
django-bootstrap3==15.0.0

pbr==5.6.0
pyyaml==5.4.1
stevedore>=1.20.0 # Apache-2.0
bandit==1.7.0

nameparser==1.0.6
httplib2==0.19.1
oauth==1.0.1
oauth2==1.9.0.post1
oauthlib==3.1.1
pylti>=0.1.3

django-lti-provider==0.4.4

entrypoints==0.3
pyparsing==2.4.7
