{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/mochikit/MochiKit/MochiKit.js' %}"></script>
<script type="text/javascript" src="{% static 'js/mochikit/MochiKit/Visual.js' %}"></script>
<script type="text/javascript" src="{% static 'js/json2.js' %}"></script>
<script type="text/javascript" src="{% static 'js/quiz/quiz.js' %}"></script>

{% load markup %}

<input type="hidden" id="question_count" value="{{block.question_set.all|length}}"/>

<input type="hidden" id="quiz_id" value="{{block.id}}"/>


<!-- Once sorted, the questions will go here:.-->

<div id ="show_quiz_results" class="alert alert-success" role="alert">
    <h3>
        You  <span id="initially">initially&nbsp;</span>scored <span id="quiz_score">x</span> out of a possible <span id="quiz_max_score">y</span>.
    </h3>
</div>


{{ block.description|markdown }}

<span id="sorted_questions">
</span>



{% for question in block.question_set.all %}
<div class="cases really" id = "case_{{question.id}}" >
     {{question.intro_text|markdown}}

     <div class="casetitle"> Question <span class = "question_order">x</span></div>

     <div class="casecontent">
           <div class="casequestion">
                 {{question.text|markdown}}
                 <form id="form-{{question.id}}" method="post">
                       <ol type="A">
                         {% for answer in question.answer_set.all %}
                          <li><input class="question" id="{{question.id}}_{{answer.id}}" name="question{{question.id}}" value="{{answer.label}}" type="radio" right_answer="{{answer.correct}}"/>{{answer.label}}</li>

                         {% endfor %}
                      </ol>
                 </form>
           </div>

           <div class="casesanswerdisplay">
              <div id="{{question.id}}_answer" class="well answer" style="display: none;">
                    {% if question.correct_answer_letter %}
                        <b> The correct answer is {{question.correct_answer_letter}}:</b> {{question.correct_answer_value}}
                    {% endif %}
                    <p>{{question.explanation|markdown}}</p>
              </div>
           </div>
     </div>
</div> 
{% endfor %}

<div id ="show_score" class="text-center">
    <a onMouseUp="showScore()" id="show_score_link" class="btn btn-primary">Submit Your Responses</a>
</div>


<div id="retake_quiz_div">
    <a onMouseUp="retakeQuiz()" >Retake Quiz</a>
</div>
