{% extends 'base.html' %}
{% load quiz_template_tags %}
{% block sidebarleft %}
    <ul>
        <li>
            <a href="/carr/">Back</a>
            </li>
    </ul>
{% endblock %}

{% block content %}
    <div>
        Your classes:
    </div>
    {%for c in user.classes_i_teach %}
    <div>
        <a href = "/activity/quiz/scores/faculty/course/{{c.0}}/{{c.1}}/{{c.2}}/{{c.3}}/{{c.4}}/{{c.5}}/">
t{{c.0}}.y{{c.1}}.s{{c.2}}.c{{c.3}}{{c.4}}.{{c.5}}</a>
    </div>
    {% endfor %}
    <div>
        <em>
         Note: A class will not be displayed on this page until/unless a student registered for that class logs into CARE.
        </em>
    </div>
{%endblock%}
