{% extends "base.html" %}

{% block title %}
Credits
{% endblock  %}

{% block content %}
<b>Columbia Center for New Media Teaching and Learning</b><br/>
Executive Producers: Frank Moretti and Maurice Matiz<br/>
Producer: Ryan Kelsey<br/>
Project Manager: Maria Janelli<br/>
Designers: Elizabeth Day and Marc Raymond<br/>
Programmer: Eddie Rubeiz<br/>
Digital Media Specialists: Stephanie Ogden and Caleb Johnson<br/>
Communications: Briana Ferrigno<br/>
Quality Assurance: Ken Petricig<br/>
<br/>
<b>Faculty Partners</b><br>
Shan Lal, Associate Professor of Clinical Dentistry at the Columbia University College of Dental Medicine<br/>
Ann McCann Oakley, Assistant Dean at the Columbia University School of Social Work<br/>
<br/>
Special thanks to Dr. Eric Nicklas, Former Associate Commissioner in the Division of Family Permanency at the New York City Administration for Children's Services, for his editorial contributions to C.A.R.E.<br/>
{% endblock %}
