{% extends 'quiz/scores/scores_base.html' %}
{% block scores_title %}
    {{semester|capfirst}} {{year}} Courses
{%endblock %}

{% block scores_breadcrumbs %}
    <li>
        <a href="/scores/" class="active" >Scores</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="/scores/socialwork/year/" >Semesters</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="/scores/socialwork/year/{{year}}/" >{{year}}</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="/scores/socialwork/year/{{year}}/semester/{{semester}}/" class="active" >{{semester|capfirst}} {{year}}</a>
    </li>

{% endblock scores_breadcrumbs %}


{% block scores_warnings %}
    <div class="alert alert-block">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <p>To see the latest information, please click on the individual courses below.</p>
    </div>
{% endblock %}

{% block scores_filter %}
    <ul class="nav nav-list">
            {% for id, label in semester_map.items %}
              <li class="nav-header {%ifequal label semester %}active{%endifequal%}" >
                 <a href = "/scores/socialwork/year/{{year}}/semester/{{label}}/">{{label}} {{year}}</a>
              </li>
            {% endfor %}
    </ul>
{% endblock %}
{% block results %}
    {% if care_classes%}
        <table class="table table-bordered table-striped">
            <tr>
                <th>
                Course
                </th>
                <th>
                Faculty
                </th>
                <th>
                Students
                </th>
                <th>
                Pre-test
                </th>
                <th>
                Post-test
                </th>
            </tr>
            {% for course in care_classes %}
                <tr>
                    <td>
                    {% with course.course_info as c %}
                            <a href = "/scores/socialwork/course/{{c.0}}/{{c.1}}/{{c.2}}/{{c.3}}/{{c.4}}/{{c.5}}/">{{course.course_label.upper}}&nbsp;{{course.course_section}}</a>
                    {%endwith %}
                    </td>
                    <td>
                        {% for u in course.faculty %}
                            {{u.last_name}}{%if not forloop.last%},{%endif%}
                        {% endfor %}
                    </td>
                    <td>
                       <span class="badge badge-info">{{course.number_of_students_in_class}}</span>
                    </td>
                    <td>
                      <span class="badge badge-info">{{course.score_info_for_this_class.pre_test}}</span>
                    </td>
                    <td>
                      <span class="badge badge-success">{{course.score_info_for_this_class.post_test}}</span>
                    </td>
                </tr>
            {%endfor %}
        </table>
    {%else %}
        <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>No CARE classes.</strong> <br/> Did not find any CARE classes for {{semester|capfirst}} {{year}}.
      </div>
    {% endif %}
{% endblock %}

