{% load quiz_template_tags %}
<table class="table table-bordered table-striped" onclick="sortColumn(event)">
    <thead>
        <th>Last</th>
        <th>First</th>
        <th>UNI</th>
        <th>Pre-test</th>
        <th>AorA</th>
        <th>Case 1</th>
        <th>Case 2</th>
        <th>Case 3</th>
        <th>TA</th>
        <th>PT1</th>
        <th>Passed</th>
        <th class="DefaultSort">Done</th>
    </thead>
    {% for st in student_info %}
        <tr>
            <td>
                {{st.student.last_name}}
            </td>
            <td>
                {{st.student.first_name}}
            </td>
            <td>
                {{st.student.username}} 
            </td>
            <td>
                {% get_scores for 'pre-test' in st.scores as score %}
                {% include "quiz/scores/chunks/initial_quiz_score.html" %}  
                </td>
            <td>
                {% with st.score_on_bruise_recon as a %} 
                    {% include "quiz/scores/chunks/a_or_a_score.html" %}
                {% endwith %}
            </td>
            <td>
                {% get_scores for 'Case 1' in st.scores as score %}
                {% with 6 as quiz_id %}{% include "quiz/scores/chunks/quiz_score.html" %}{% endwith %}         
            </td>
            <td>
                {% get_scores for 'Case 2' in st.scores as score %}
                {% with 7 as quiz_id %}{% include "quiz/scores/chunks/quiz_score.html" %}{% endwith %}
            </td>
            <td>
                {% get_scores for 'Case 3' in st.scores as score %}
                {% with 8 as quiz_id %}{% include "quiz/scores/chunks/quiz_score.html" %}{% endwith %}
            </td>
            <td>
                {% include "quiz/scores/chunks/taking_action_score.html" %}
            </td>
            <td>
                {% get_scores for 'post-test' in st.scores as score %}
                {% include "quiz/scores/chunks/post_test_initial.html" %}
            </td>
            <td>
                {% include "quiz/scores/chunks/post_test_final.html" %}
            </td>
            <td>
                {% if st.training_complete %}
                   <span class="label label-success">Y</span>
                {% else %}
                    <span class="label label-important">N</span>
                {%endif %}
            </td>
        </tr>
    {% endfor %}
</table>
<div class = "well">
    <button type="button" class="close" data-dismiss="alert">×</button>
 	<p>
	    Column heading abbreviations: 
	</p>
    <ul>
        <li>
	        <b>Pre-test:</b> This is the student's score on the pre-test. The &quot;»&quot; button links to the student's answers.
        </li>
        <li>
	        <b>AorA:</b> This is the student's score on the "Abuse or Accident?" activity. 
        </li>
        <li>
	        <b>Case 1:</b> First case study
        </li>
        <li>
	        <b>Case 2:</b> Second case study
        </li>
        <li>
	        <b>Case 3:</b> Third case study
        </li>
        <li>
	        <b>TA:</b> This is the student's score on the "Taking Action" activity. If the student completed the reporting form, a button brings up a copy of the form as filled out by the student.
        </li>
        <li>
	        <b>PT1:</b> This is the  student's initial score on the post-test. The &quot;»&quot; button links to the student's answers.
        </li>
        <li>
	        <b>Passed:</b> This indicates whether or not a student successfully completed the post-test. Dates of completion are provided, when available. Otherwise (usually for students prior to 2010), 'ok' indicates that a student answered all questions correctly. If you hold the mouse pointer over the abbreviated date, a complete date will appear.
        </li>
        <li>
	        <b>Done:</b> To officially complete the training, the student needs to complete all of the activities except TA, and successfully answer all of the questions in the post-test. Course completion is indicated by a  "<span class="label label-success">Y</span>" for yes or "<span class="label label-important">N</span>" for no.
        </li>
    </ul>
</div>
