{% load bootstrap3 %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta id="csrf-token" name="csrf-token" content="{{csrf_token}}">
    <title>CARE: {% block title %}{% endblock %}</title>
    {% bootstrap_css %}

    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" media="screen" />
    {% if IS_SOCIALWORK %}
        <link rel="stylesheet" href="{{STATIC_URL}}css/ssw.css" media="screen" />
    {% else %}
        <link rel="stylesheet" href="{{STATIC_URL}}css/cdm.css" media="screen" />
    {% endif %}

    <!--[if IE 6]>
    <link rel="stylesheet" href="{{STATIC_URL}}css/main_ie6_2coll.css" media="screen" />
    <![endif]-->
    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
    {% block css %}{% endblock %}

    {% if not debug %}
        <script src="https://cdn.ravenjs.com/3.8.1/raven.min.js"></script>
        <script>
        Raven.config('https://bea76ad7e8124bc0ab1b4354fd9db56f@sentry.io/101595', {
            whitelistUrls: [
                /\.ctl\.columbia\.edu/,
                /\.ccnmtl\.columbia\.edu/
            ]
        }).install();
        {% if not request.user.is_anonymous %}
        Raven.setUserContext({
            email: '{{request.user.email}}',
            id: '{{request.user.username}}'
        });
        {% else %}
        Raven.setUserContext({
            email: 'none',
            id: 'anonymous'
        });
        {% endif %}
        </script>
    {% endif %}

    {% block js %}{% endblock %}

    {% block feeds %}{% endblock %}
    <link rel="stylesheet" href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" />
    <script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js"></script>

    {% if GA_CODE %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{GA_CODE}}"></script>
    <script>
          window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

gtag('config', '{{GA_CODE}}', { 'anonymize_ip': true });
    </script>
    {% endif %}

</head>

    <body class="two_columns_left {% block widthtype %}fluid{% endblock %}">
{% comment %}
###### FOR WIDTH TYPE--
   fixed : fixed width, doesn't change with browser resize
   fluid : variable width, changes with browser resize
   You can move this to base template if you don't want to deal with it
   all time in flatpages templates
{% endcomment %}

<div id="container">


{% block masthead %}
    <!-- Project title/logo -->
    <div id="logos">
        {% block standardnav %}
            {%include "project_standard_nav.html" %}
        {% endblock %}
        
        <!-- Project title/logo -->
        <a href="/" title="Child Abuse Reporting Education">
            <img src="{{STATIC_URL}}img/logo_project.jpg" alt="CARE Logo" />
        </a>
        <!-- CTL title/logo -->
        <a id="logo_ctl" href="https://ctl.columbia.edu" target="_blank" title="Columbia Center for New Media Teaching and Learning">
            <img src="{{STATIC_URL}}img/logo-ctl.png" width="240" height="44.4" alt="CTL Logo" />
        </a>
        {% if IS_SOCIALWORK %}
        <a id="logo_school" href="http://socialwork.columbia.edu" target="_blank" title="Columbia University School of Social Work">
            <img src="{{STATIC_URL}}img/logo_cussw.gif" alt="CUSSW Logo" />
        </a>
        {% else %}
            <a id="logo_school" href="http://dental.columbia.edu" target="_blank" title="Columbia University College of Dental Medicine">
                <img src="{{STATIC_URL}}img/logo_dental.png"  alt="CDM Logo" />
            </a>
        {% endif %}
    </div>
{% endblock %}

<!-- ###### Don't touch this ###### -->
<div class="visualclear"></div>


<div id="subnav">
   {% block subnav %}{% endblock %}
</div>


    <!-- ###### Page: Sidebars and Content ###### -->
    <div id="pagebody">
        <!-- ###### Left Sidebar ###### -->
        <div id="sidebar_left">
            {% block sidebarleft %}{% endblock %}
        </div><!-- id="sidebar_left" -->


        <!-- ###### Page Content ###### -->
        <div id="content">
            <div id="squish"><!-- Don't touch this div -->
                <div class="block">
                    {% block pagetitle %}{% endblock %}
                    {% block content %}{% endblock %}

                    <!-- ###### Don't touch this ###### -->
                    <div class="visualclear"></div><!-- id="visualclear" -->    

                    {% block contentnav %}
                    {% endblock %}
                </div><!-- class="block" -->
            </div><!-- id="squish" -->
        </div><!-- id="content" -->
        <!-- ###### Don't touch this ###### -->
        <div class="visualclear"></div>
    </div><!-- id="pagebody" -->

{% block footer %}
    <!-- ###### Footer ###### -->
    <div id="footer">
    </div><!-- id="footer" -->
{% endblock %}

<script>
    const CARE = {
        isSocialWork: {% if IS_SOCIALWORK %}true{% else %}false{% endif %}
    }
</script>

</div><!-- id="container" -->
</body>
</html>
