{% load smartif %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>CARE: {% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{{STATIC_URL}}css/main.css" media="screen" />
	{% if "cdm" in site_domain%}
    	<link rel="stylesheet" href="{{STATIC_URL}}css/cdm.css" media="screen" />
	{%endif%}
	{% if "ssw" in site_domain%}
    	<link rel="stylesheet" href="{{STATIC_URL}}css/ssw.css" media="screen" />
	{%endif%}
	<link rel="stylesheet" href="{{STATIC_URL}}css/print.css" media="print" />
	<!--[if IE 6]>
	<link rel="stylesheet" href="{{STATIC_URL}}css/main_ie6_2coll.css" media="screen" />
	<![endif]-->
	<link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
	{% block css %}{% endblock %}
	{% block js %}{% endblock %}
	{% block feeds %}{% endblock %}
</head>
    <body class="two_columns_left {% block widthtype %}fluid{% endblock %}">
{% comment %}
###### FOR WIDTH TYPE--
   fixed : fixed width, doesn't change with browser resize
   fluid : variable width, changes with browser resize
   You can move this to base template if you don't want to deal with it
   all time in flatpages templates
{% endcomment %}

<div id="container">

    {% block masthead %}
        <!-- Project title/logo -->
        <div id="logos">
            {% block standardnav %}
                {%include "project_standard_nav.html" %}
            {% endblock %}
            
            <!-- Project title/logo -->
            <a href="/" title="Child Abuse Reporting Education">
                <img src="{{STATIC_URL}}img/logo_project.jpg" alt="CARE Logo" />
            </a>
            <!-- CCNMTL title/logo -->
            <a id="logo_ccnmtl" href="http://ccnmtl.columbia.edu" target="_blank" title="Columbia Center for New Media Teaching and Learning">
                <img src="{{STATIC_URL}}img/logo_ccnmtl.png" alt="CCNMTL Logo" />
            </a>        
            {% if "cdm" in site_domain %}
                <a id="logo_school" href="http://dental.columbia.edu" target="_blank" title="Columbia University College of Dental Medicine">
                    <img src="{{STATIC_URL}}img/logo_dental.png"  alt="CDM Logo" />
                </a>
            {% else %}{% if "ssw" in site_domain %}
                <a id="logo_school" href="http://socialwork.columbia.edu" target="_blank" title="Columbia University School of Social Work">
                    <img src="{{STATIC_URL}}img/logo_cussw.gif" alt="CUSSW Logo" />
                </a>        
            {% endif %}{% endif %}
        </div>    
    {% endblock %}


	<!-- ###### Don't touch this ###### -->
	<div class="visualclear"></div>
	
    <div id="subnav">
       {% block subnav %}{% endblock %}
    </div>

	<!-- ###### Page: Sidebars and Content ###### -->
	<div id="pagebody">
		<!-- ###### Left Sidebar ###### -->
		<div id="sidebar_left">
			{% block sidebarleft %}{% endblock %}
		</div><!-- id="sidebar_left" -->


		<!-- ###### Page Content ###### -->
		<div id="content">
			<div id="squish"><!-- Don't touch this div -->
				<div class="block">
					{% block pagetitle %}{% endblock %}
				
					{% block content %}{% endblock %}

				<!-- ###### Don't touch this ###### -->
				<div class="visualclear"></div><!-- id="visualclear" -->	
				
				<div class="content-nav">
               {% block contentnav %}
               {% endblock %}
            </div>
                     			

				</div><!-- class="block" -->
			</div><!-- id="squish" -->
		</div><!-- id="content" -->


		<!-- ###### Don't touch this ###### -->
		<div class="visualclear"></div>
	
	</div><!-- id="pagebody" -->


{% block footer %}
	<!-- ###### Footer ###### -->
	<div id="footer">
	</div><!-- id="footer" -->
{% endblock %}


</div><!-- id="container" -->
</body>
</html>
