{% load carr_main_template_tags %}
<ul id="standardnav">
  <li><a href="/background/about/">About</a></li>
  <li><a href="/background/credits/">Credits</a></li>
  <li><a href="/background/contact/">Contact</a></li>

  {% if user.is_authenticated %}
      {% user_type user as ut %}
      {% if ut == "student" %}
          <li><a href="/scores/student/">My Scores</a></li>
      {% else %}
          <li><a href="/scores/">Scores</a></li>
      {% endif %}
  {%endif %}

{%if user.is_staff or user.username == 'student1' %}
  <li><a href="{{STATIC_URL}}selenium/TestRunner.html?test=..%2Ftests%2FTestSuite.html">Tests</a></li>
  <li><a href="/add_classes/">Add Course</a></li>
{% endif %}

{% if user.is_authenticated %}
   <li><a href="/accounts/logout/?next=/">Logout</a></li>
{% else %}
   <li><a href="/accounts/login/?next=/welcome/">Login</a></li>
{% endif %}
</ul>
