{% extends "base.html" %}

{% block title %}
Contact
{% endblock  %}


{% block content %}
For technical assistance, please <a href="mailto:ccnmtl-care@columbia.edu">send an email to us</a>.<br><br>

For more information about this project at the College of Dental Medicine, please contact:<br><br>

<b>Shantanu Lal, D.D.S.</b><br>
Associate Professor of Clinical Dentistry<br>
Director, Predoctoral Programs<br>
Division of Pediatric Dentistry<br>
Columbia University College of Dental Medicine<br>
212.305.1041<br>
<a href="mailto:sl784@columbia.edu">sl784@columbia.edu</a><br><br>

For more information about this project at the School of Social Work, please contact:<br><br>

<b>Ann McCann Oakley</b><br>
Assistant Dean<br>
Columbia University School of Social Work<br>
Office of Computing and Instructional Technology<br>
<a href="mailto:amo1@columbia.edu">amo1@columbia.edu</a>
{% endblock %}
