{% extends "base.html" %}

{% block content %}

<div class="loginbox">
    <h2>Choose a login option...</h2>
    <div class="content">
    
    <form method="get" action="{{ CAS_BASE }}cas/login">
    <input type="hidden" name="destination" value="http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}/accounts/caslogin/?next={{ next }}" />
    <p>If you have a Columbia University Network ID (UNI)...</p>
    <input class="regbutton" type="submit" value="LOG IN" />
    </form>

    <p class="smalltxt"><a href="http://cuit.columbia.edu/cuit/manage-my-uni" title="Learn more about UNI" target="_blank">What is a UNI?</a></p>
    <!-- End UNI LOG IN -->
    
    <hr class="seperator" />
    
{% if form.errors%}
    <p class="errornote"><span><b>ERROR:</b> Invalid username or password.</span> Please try again. Note that both username and password are case-sensitive.</p>
{% endif %}

    <p>If you have a guest account...</p>
<form method="post" action="." name="login_local">

{% csrf_token %}

    <div class="fieldwrapper">
        <label for="id_username">Username:</label>
        {{ form.username }}
    </div><!-- fieldwrapper -->

    <div class="fieldwrapper">
        <label for="id_password">Password:</label>
        {{ form.password }}
    </div><!-- fieldwrapper -->
    

<input class="regbutton" type="submit" value="LOG IN" />
<input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}/{% endif %}" />
</form>



    <p class="smalltxt"><a href="/registration/register/" title="Create your new project account">Need a new account?</a></p>
    </div><!-- content -->
</div><!-- loginbox -->

</div>

<h3>About CARE</h3>

<p>
The Child Abuse Reporting Education (CARE) Project is an online resource designed to teach graduate students in the Columbia University School of Social Work and the College of Dental Medicine how to recognize the symptoms of child abuse and how to report abuse when acting in their professional capacities. Social workers, dentists, and all other human service professionals are required by law to report suspected abuse or maltreatment of minors to the New York State Central Register of Child Abuse and Maltreatment. 
</p>

<p>
The CARE Project provides a guided structure to child abuse reporting requirements courses at Columbia University, providing students with access to online training modules created to enhance understanding and practice of child abuse reporting standards. Each module contains informational text and images, interactive learning activities, and pre- and post- course evaluations that allow students to test their understanding of what they have learned. Once the training modules are completed, students then discuss the CARE material in class with instructors. 
</p>

{% endblock %}
