{% extends "base.html" %}

{% block content %}

{% if form.errors %}

<p>Your user name and password didn't match. Please try again.</p>

{% endif %}

	<div style="float:right; width:30%; margin: 0px 0px 120px 30px;">
	
		<fieldset style="background-color: #eee;">
		
		<legend style="background-color: #ccc; font-weight: bold;">Log In</legend>


	<div>
		
		<form method="get" action="{{ CAS_BASE }}cas/login">
		<input type="hidden" name="destination" value="http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}/accounts/caslogin/?next={{ next }}" />
		
		<p style="font-weight: bold;">Columbia Users:</p>
		
		<input type="submit" value="Log In with Columbia UNI" />
		</form>
		
		
	</div>
	
	<hr size="1" />
	
	<div>
	
		
		<p style="font-weight: bold;">All Other Users:</p>
		
		
		<form method="post" action=".">

		<div>
		
		<div><label for="id_username">User Name:</label></div>
		<div>{{ form.username }}</div>
		
		</div>
		
		<div>
		
		<div><label for="id_password">Password:</label></div>
		<div>{{ form.password }} </div>
		
		</div>

		<input type="submit" value="Log In" />
		<input type="hidden" name="next" value="{{ next }}" />
		</form>
		
	</div>
	
		</fieldset>

</div>

<h3>About CARE</h3>

<p>
The Child Abuse Reporting Education (CARE) Project is an online resource designed to teach graduate students in the Columbia University School of Social Work and the College of Dental Medicine how to recognize the symptoms of child abuse and how to report abuse when acting in their professional capacities. Social workers, dentists, and all other human service professionals are required by law to report suspected abuse or maltreatment of minors to the New York State Central Register of Child Abuse and Maltreatment. 
</p>

<p>
The CARE Project provides a guided structure to child abuse reporting requirements courses at Columbia University, providing students with access to online training modules created to enhance understanding and practice of child abuse reporting standards. Each module contains informational text and images, interactive learning activities, and pre- and post- course evaluations that allow students to test their understanding of what they have learned. Once the training modules are completed, students then discuss the CARE material in class with instructors. 
</p>

{% endblock %}
