<script type="text/javascript" src="/site_media/js/mochikit/MochiKit/MochiKit.js"></script>
<script type="text/javascript" src="/site_media/js/mochikit/MochiKit/Visual.js"></script>
<script type="text/javascript" src="/site_media/js/json2.js"></script>
<script type="text/javascript" src="/activity/quiz/media/js/quiz.js"></script>

{% load markup %}
{% load smartif %}
{{ block.description|markdown }}

<input type="hidden" id="question_count" value="{{block.question_set.all|length}}"/>

<input type="hidden" id="quiz_id" value="{{block.id}}"/>




<!--
FOR DEBUGGING:

{% for question in block.question_set.all %}
 <p> id: {{question.id}}  ord:{{question.ordinality}}  {{question.text}}</p>
{%endfor %}
-->

<!-- Once sorted, the questions will go here:.-->
<span id="sorted_questions">
</span>

{% for question in block.question_set.all %}
<div class="cases really" id = "case_{{question.id}}" >
     {{question.intro_text|markdown}}

     <div class="casetitle"> Question <span class = "question_order">x</span>
     <!-- (id "case_{{question.id}}" ) -->
     :</div>
     
     <div class="casecontent">
           <div class="casequestion">
                 {{question.text|markdown}}
                 <form id="form-{{question.id}}" method="post">
                       <ol type="A">
	                     {% for answer in question.answer_set.all %}
                          <li><input class="question" id="{{question.id}}_{{answer.id}}" name="question{{question.id}}" value="{{answer.label}}" type="radio" right_answer="{{answer.correct}}"/>{{answer.label}}</li>
                          
	                     {% endfor %}
                      </ol>
                 </form>
           </div>

           <div class="casesanswerdisplay">
              <div id="{{question.id}}_answer" class="answer" >
                 <p>{% if question.correct_answer_letter %}<b>The
                 correct answer is
                 {{question.correct_answer_letter}}: 
                 {{question.correct_answer_value}}</b>{% endif %} {{question.explanation|markdown}}</p>
                 <p>
                 </p>
              </div>
           </div>
     </div>
</div> 
{% endfor %}
<div id ="show_score">
    <a onMouseUp="showScore()" >Done...</a>
</div>

<div id ="show_quiz_results">
        You scored <span id="quiz_score">x</span> out of a possible <span id="quiz_max_score">y</span>.
</div>

<div id ="retake_quiz_div">
    <a onMouseUp="retakeQuiz()" >Retake Quiz</a>
</div>
