{% extends 'base.html' %}
{% block js %}
    <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/MochiKit.js"></script>

{% endblock %}

{% block content %}


<div class= "back_button">
     <a href="/carr/"> Back</a>
</div>

<ul class = "student_list">
{% for score in scores %}
<li>
    {{score.student.first_name}}     {{score.student.last_name}}
    {% if score.courses %}
        <ul class = "course_list">
        {% for s in score.courses %}
            <li>{{s}}</li>
        {%endfor%}
        </ul>
    {%endif%}
    
    <ul class= "quiz_list">
    {% if score.quiz_scores%}
        {% for s in score.quiz_scores %}
            <li>
                {{s.quiz.label}}: {{s.score}} correct out of {{s.answer_count}} questions
            </li>
        {%endfor %}
    {%else%}
        No results.
    {%endif%}
    </ul>
</li>
{%endfor %}
</ul>

<div class= "back_button">
     <a href="/carr/"> Back</a>
</div>

{% endblock %}


