{% extends 'base.html' %}
{% load quiz_template_tags %}
{% load smartif %}
{% block sidebarleft %}
    <ul>
        <li>
            <a href="/carr/">Back</a>
            </li>
    </ul>
{% endblock %}

{% block content %}
<h3>
    Scores for students in t{{c.0}}.y{{c.1}}.s{{c.2}}.c{{c.3}}{{c.4}}.{{c.5}}:
</h3>

{% if student_info %}
    <table class="scorestable" cellspacing="0" summary="scores table" border="1">
        <tr>
                <th>Student</th>
                <th>Pre-Test</th>
                <th>Activity: Abuse vs. Accident?</th>
                <th>Case 1</th>
                <th>Case 2</th>
                <th>Case 3</th>
                <th>Activity: Taking Action</th>
                <th>Post-Test</th>
            
        </tr>
        {% for st in student_info %}
        <tr>
            <td>
               {{st.student.first_name}}
               {{st.student.last_name}}
            </td>
            
            <td>
                {% get_courses for 'pre-test' in st.scores as score %}
                {% if score.answer_count %}
                    <a href ="/activity/quiz/studentquiz/2/user/{{st.student.id}}/">{{score.score}} / {{score.answer_count}}</a>
                {% else %}
                    n/a
                {%endif %}
                
            </td>
            <td>
	            {%if st.score_on_bruise_recon  %}
		            {{st.score_on_bruise_recon}} / 3
		        {%else %}
		            n/a
		        {%endif%}
            </td>
            <td>
            {% get_courses for 'Case 1' in st.scores as score %}
                {% if score.answer_count %}
                    <a href ="/activity/quiz/studentquiz/6/user/{{st.student.id}}/">{{score.score}} / {{score.answer_count}}</a>
                {% else %}
                    n/a
                {%endif %}
            </td>
            <td>
            {% get_courses for 'Case 2' in st.scores as score %}
                {% if score.answer_count %}
                    <a href ="/activity/quiz/studentquiz/7/user/{{st.student.id}}/">{{score.score}} / {{score.answer_count}}</a>
                {% else %}
                    n/a
                {%endif %}
            </td>
            <td>
            {% get_courses for 'Case 3' in st.scores as score %}
                {% if score.answer_count %}
                   <a href ="/activity/quiz/studentquiz/8/user/{{st.student.id}}/">{{score.score}} / {{score.answer_count}}</a>
                {% else %}
                    n/a
                {%endif %}
            </td>
            <td>
              
		            {%if st.score_on_taking_action %}
			            Complete
			        {%else %}
                        n/a
			        {%endif%}
            </td>

            <td>
                {% get_courses for 'post-test' in st.scores as score %}
                {% if score.answer_count %}
                    <a href ="/activity/quiz/studentquiz/3/user/{{st.student.id}}/">{{score.score}} / {{score.answer_count}}</a>
                {% else %}
                    n/a
                {%endif %}
            </td>
        </tr>
        {%endfor %}

        </table>
{%else%}
    You don't appear to be teaching any courses this semester.
{%endif%}
    
    
{%endblock%}
