{% extends 'base.html' %}
{% load quiz_template_tags %}
{% load smartif %}
{% block sidebarleft %}
    <ul>
        <li>
            <a href="/carr/">Back</a>
            </li>
    </ul>
{% endblock %}
{% block content %}

    <table class="scorestable" cellspacing="0" summary="scores table">

	<tr>
		<th>Activity</th>
		<th>Score</th>
		<th>Link</th>
	</tr>
	
    </ul>
	<tr>
		<td>
			Pre-Test
		</td>
		<td>

			{% get_scores for 'pre-test' in scores as score %}
					  {% if score %}
			{{score.score}} / {{score.answer_count}}
		        {%endif%}
		</td>
		<td>{% if score %}
			<a href = "/carr/Introduction/pretest/" >Go </a>
		     {%endif%}
		</td>
	</tr>
	<tr>
		<td>
			Activity: Abuse vs. Accident?
		</td>
		<td>
		    {%if score_on_bruise_recon != None%}
			    {{score_on_bruise_recon}} / 3
			{%else %}
			    NOSCORE?
			{%endif%}
		</td>
		<td>
		{%if score_on_bruise_recon != None%}
			<a href = "/carr/recognizing_abuse/abuse_or_accident_activity" >Go </a>
		{%endif%}
		</td>
	</tr>
	
	
	{% if "ssw" in site.domain%}
	            <tr>
		            <td>
			            Case 1
		            </td>
		            <td>
			            {% get_scores for 'Case 1' in scores as score %}
			            {% if score %}
			              {{score.score}} / {{score.answer_count}}
			            {%endif%}
		              
		            </td>
		            <td>
			            {% if score %}
			              <a href = "/carr/recognizing_abuse/cases_activity/case_1/" >Go </a>
			            {%endif%}
		            </td>
	            </tr>
	            <tr>
		            <td>
			            Case 2
		            </td>
		            <td>
                  {% get_scores for 'Case 2' in scores as score %}
                  {% if score %}                        
                        {{score.score}} / {{score.answer_count}}
                  {%endif%}
		            </td>
		            <td>
                  {% if score %}                        
			            <a href = "/carr/recognizing_abuse/cases_activity/case_2/" >Go </a>
                  {%endif%}
		            </td>
	            </tr>
	            <tr>
		            <td>
			            Case 3
		            </td>
		            <td>
                        {% get_scores for 'Case 3' in scores as score %}
                        
                  {% if score %}                        
                        {{score.score}} / {{score.answer_count}}
                  {%endif%}
		            </td>
		            <td>
                  {% if score %}                  
			            <a href = "/carr/recognizing_abuse/cases_activity/case_3/" >Go </a>
                  {%endif%}
		            </td>
	            </tr>
	{%else %}
	
	
	
	{%endif%}
	
	
	<tr>
		<td>
			Activity: Taking Action
		</td>
		<td>
      {%ifequal score_on_taking_action 'completed_form' %}
       Completed activity and filled out form
      {%endifequal%}
      {%ifequal score_on_taking_action 'clicked_through' %}
       Completed activity but did not fill out form
      {%endifequal%}
      {%ifequal score_on_taking_action 'no_data' %}
        Did not complete activity
      {%endifequal%}
      
		</td>
		<td>
		  {%ifequal score_on_taking_action 'completed_form' %}
			  <a href = "/carr/reporting_abuse/taking_action/" >Go </a>
			{%endifequal%}
		</td>
	</tr>


	<tr>
		<td>
			Post-Test
		</td>
		<td>
		
            {% get_scores for 'post-test' in scores as score %}
           {%if score%}
			            {% if score.initial_score.quiz_score %}
                         First try: {{score.initial_score.quiz_score}} /  {{score.initial_score.quiz_max_score}}.
                      {%if score.all_correct and score.all_correct == "t" %}
                          Final score: {{score.score }} / {{score.answer_count }}. The post-test is complete. 
                      {% else %}
                          (incomplete)
                      {%endif %}
                  {% else %}
                      n/a
                  {%endif %}
            {%endif%}
		</td>
		<td>
		
           {%if score%}
			          {%if score.all_correct and score.all_correct == "t" %}
                   <a href = "/carr/conclusion/post_test/">Go</a>
                {% else %}
                   <a href = "/carr/conclusion/post_test/">Retake</a>
                {%endif %}
		      {%endif%}
		</td>
	</tr>
</table>



{% endblock %}

