{% extends 'base.html' %}
{% load quiz_template_tags %}
{% load smartif %}
{% block sidebarleft %}
    <ul>
        <li>
            <a href="/carr/">Back</a>
            </li>
    </ul>
{% endblock %}
{% block content %}

<table class = "student_list">

	<tr>
		<th>Activity</th>
		<th>Score</th>
		<th>Link</th>
	</tr>
	
    </ul>
	<tr>
		<td>
			Pre-Test
		</td>
		<td>
			{% get_courses for 'pre-test' in scores as score %}{{score.score}} / {{score.answer_count}}
		</td>
		<td>
			<a href = "/carr/Introduction/pretest/" >Go </a>
		</td>
	</tr>
	<tr>
		<td>
			Activity: Abuse vs. Accident?
		</td>
		<td>
		    {%if score_on_bruise_recon != None %}
			    {{score_on_bruise_recon}} / 3
			{%else %}
			    n/a
			{%endif%}
		</td>
		<td>
			<a href = "/carr/recognizing_abuse/abuse_or_accident_activity" >Go </a>
		</td>
	</tr>
	
	
	{% if "ssw" in site.domain%}
	            <tr>
		            <td>
			            Case 1
		            </td>
		            <td>
			            {% get_courses for 'Case 1' in scores as score %}{{score.score}} / {{score.answer_count}}
		            </td>
		            <td>
			            <a href = "/carr/recognizing_abuse/cases_activity/case_1/" >Go </a>
		            </td>
	            </tr>
	            <tr>
		            <td>
			            Case 2
		            </td>
		            <td>
                        {% get_courses for 'Case 2' in scores as score %}{{score.score}} / {{score.answer_count}}
		            </td>
		            <td>
			            <a href = "/carr/recognizing_abuse/cases_activity/case_2/" >Go </a>
		            </td>
	            </tr>
	            <tr>
		            <td>
			            Case 3
		            </td>
		            <td>
                        {% get_courses for 'Case 3' in scores as score %}{{score.score}} / {{score.answer_count}}
		            </td>
		            <td>
			            <a href = "/carr/recognizing_abuse/cases_activity/case_3/" >Go </a>
		            </td>
	            </tr>
	{%else %}
	
	
	
	{%endif%}
	
	
	<tr>
		<td>
			Activity: Taking Action
		</td>
		<td>
		    {%if score_on_taking_action %}
			    Complete
			{%else %}
			    Incomplete
			{%endif%}
		</td>
		<td>
			<a href = "/carr/reporting_abuse/taking_action/" >Go </a>
		</td>
	</tr>
	<tr>
		<td>
			Post-Test
		</td>
		<td>
			<!-- Complete / Incomplete; --> {% get_courses for 'post-test' in scores as score %}{{score.score}}/{{score.answer_count}}
		</td>
		<td>
			<a href = "/carr/conclusion/post_test/">Go / Retake</a>
		</td>
	</tr>
</table>

{% endblock %}

