{% extends 'base.html' %}
{%load smartif %}
{% block sidebarleft %}
    <ul>
        <li>
            <a href="/carr/">Back</a>
            </li>
    </ul>
{% endblock %}
{% block content %}

    <table class="scorestable" cellspacing="0" summary="scores table" border="1">
            <tr>
                <th>
                School
                </th>
                <th>
                Term
                </th>
                <th>
                Course
                </th>
                <th>
                Faculty
                </th>
                <th>
                Students
                </th>
                <th>
                Pre-test
                </th>
                <th>
                Post-test
                </th>
            </tr>


        {% for course in courses %}
            <tr>
                <td>
                   {{course.course_info.5}}
                </td>
                <td>
                   {{course.semester}}
                </td>
                <td>
                {% with course.course_info as c %}
                        <a href = "/activity/quiz/scores/faculty/course/{{c.0}}/{{c.1}}/{{c.2}}/{{c.3}}/{{c.4}}/{{c.5}}/">{{course.course_string}}</a>
                {%endwith %}
                </td>
                <td>
                    {% for u in course.faculty %}
                        {{u}}
                        {%if not forloop.last%},{%endif%}
                    {% endfor %}
                </td>
                <td>
                   {{course.number_of_students_in_class}}
                </td>
                <td>
                <!--
                   {{course.score_info_for_class}}
                -->
                </td>
                <td>
                <!--
                   {{course.score_info_for_class}}
                -->
                </td>


            </tr>
        {%endfor %}
    </table>
    <div>
        Note: this page is not guaranteed to be up-to-date; to see the latest information, click on the individual courses.
    </div>

{% endblock %}

