{% extends 'base.html' %}
{% block sidebarleft %}
    <ul>
        <li>
            <a href="/carr/">Back</a>
            </li>
    </ul>
{% endblock %}
{% block content %}
<div class= "back_button">
     <a href="/carr/"> Back</a>
</div>

<ul class = "student_list">
{% for u in users %}
<li>
    {{u.student.first_name}} {{u.student.last_name}}
    {% if u.taking_courses %}
		<div>
			<em>Currently taking:</em>        
			<ul class = "course_list">
		    {% for s in u.taking_courses %}
		        <li>{{s}}</li>
		    {%endfor%}
		    </ul>
		</div>
    {%endif%}
    {% if u.teaching_courses %}
		<div>
			<em>Currently teaching:</em>        
			<ul class = "course_list">
		    {% for s in u.teaching_courses %}
		        <li>{{s}}</li>
		    {%endfor%}
		    </ul>
		</div>
    {%endif%}
    
    <ul class= "quiz_list">
    {% if u.quiz_scores%}
        {% for s in u.quiz_scores %}
            <li>
                {{s.quiz.label}}: {{s.score}} correct out of {{s.answer_count}} questions
            </li>
        {%endfor %}
    {%else%}
        No quiz results.
    {%endif%}
    </ul>
</li>
{%endfor %}
</ul>

<div class= "back_button">
     <a href="/carr/"> Back</a>
</div>

{% endblock %}

