{% extends 'base.html' %}
{% load quiz_template_tags %}
{% load smartif %}
{% block sidebarleft %}
    <ul>
        <li>
            <a href="/carr/">Back</a>
            </li>
    </ul>
{% endblock %}
{% block content %}






<table class = "student_list">

	<tr>
		<th>Activity</th>
		<th>Score</th>
		<th>Link</th>
	</tr>
	
	<!--
	   
	{%for q in quizzes_2 %}
	    {{q}}<br>
	    {% with q.0 as blarg %}
	         {{blarg}}<br/>
	         number lookup{{scores.blarg}}<br />
	        {{scores.8}}<br />
	    {%endwith%}
	    {% with q.1 as blarg %}
	         {{blarg}}<br/>
	         string lookup{{scores.blarg}}<br />
	        {{scores.8}}<br />
	    {%endwith%}
	    END
	{%endfor %}
	
	<br />
	<br />
	<br />
	{%for q in quizzes %}
	    {{q}}<br />
	    {% with q.id as blarg %}
	    {{q.id}}<br />
	    {{blarg}}<br />
	    {{scores.blarg}}<br />
	    asdasd {{scores.blarg}}<br />
	    {%endwith%}
	{%endfor %}
    
    <ul class= "quiz_list">
    {% if scores%}
        {% for s in scores %}
            <li>
                {{s.quiz.label}}: {{s.score}} / {{s.answer_count}}
            </li>
        {%endfor %}
    {%else%}
        No quiz results.
    {%endif%}
    -->
    </ul>
	<tr>
		<td>
			Pre-Test
		</td>
		<td>
			{% get_courses for 'pre-test' in scores as score %}{{score.score}} / {{score.answer_count}}
		</td>
		<td>
			<a href = "/carr/Introduction/pretest/" >Go </a>
		</td>
	</tr>
	<tr>
		<td>
			Activity: Abuse vs. Accident?
		</td>
		<td>
		    {%if score_on_bruise_recon != None %}
			    {{score_on_bruise_recon}} / 3
			{%else %}
			    n/a
			{%endif%}
		</td>
		<td>
			<a href = "/carr/recognizing_abuse/abuse_or_accident_activity/case_1/" >Go </a>
		</td>
	</tr>
	<tr>
		<td>
			Case 1
		</td>
		<td>
			{% get_courses for 'Case 1' in scores as score %}{{score.score}} / {{score.answer_count}}
		</td>
		<td>
			<a href = "/carr/recognizing_abuse/cases_activity/case_1/" >Go </a>
		</td>
	</tr>
	<tr>
		<td>
			Case 2
		</td>
		<td>
            {% get_courses for 'Case 2' in scores as score %}{{score.score}} / {{score.answer_count}}
		</td>
		<td>
			<a href = "/carr/recognizing_abuse/cases_activity/case_2/" >Go </a>
		</td>
	</tr>
	<tr>
		<td>
			Case 3
		</td>
		<td>
            {% get_courses for 'Case 3' in scores as score %}{{score.score}} / {{score.answer_count}}
		</td>
		<td>
			<a href = "/carr/recognizing_abuse/cases_activity/case_3/" >Go </a>
		</td>
	</tr>
	<tr>
		<td>
			Activity: Taking Action
		</td>
		<td>
		    {%if score_on_taking_action %}
			    Complete
			{%else %}
			    Incomplete
			{%endif%}
		</td>
		<td>
			<a href = "/carr/recognizing_abuse/abuse_or_accident_activity/case_1/" >Go </a>
		</td>
	</tr>
	<tr>
		<td>
			Post-Test
		</td>
		<td>
			<!-- Complete / Incomplete; --> {% get_courses for 'post-test' in scores as score %}{{score.score}}/{{score.answer_count}}
		</td>
		<td>
			<a href = "/carr/conclusion/post_test/">Go / Retake</a>
		</td>
	</tr>
</table>
<!--
<ul class = "student_list">

{% for score in scores %}
<li>
    {{score.student.first_name}}     {{score.student.last_name}}
    {% if score.courses %}
        <ul class = "course_list">
        {% for s in score.courses %}
            <li>{{s}}</li>
        {%endfor%}
        </ul>
    {%endif%}
    
    <ul class= "quiz_list">
    {% if score.quiz_scores%}
        {% for s in score.quiz_scores %}
            <li>
                {{s.quiz.label}}: {{s.score}} correct out of {{s.answer_count}} questions
            </li>
        {%endfor %}
    {%else%}
        No results.
    {%endif%}
    </ul>
</li>
{%endfor %}
</ul>

-->
{% endblock %}

<!--
<pre contenteditable class = "magic_form"> </pre>
-->
