{% extends 'base.html' %}
{%load smartif %}
{% block sidebarleft %}
    <ul>
        <li>
            <a href="/carr/">Back</a>
            </li>
    </ul>
{% endblock %}
{% block content %}

    <table>
            <tr>
                <td>
                School
                </td>
                <td>
                Term
                </td>
                <td>
                Course
                </td>
                <td>
                Faculty
                </td>
            </tr>


        {% for course in courses %}
            <tr>
                <td>
                   {{course.course_info.5}}
                </td>
                <td>
                   {{course.semester}}
                </td>
                
                
                <td>
                {% with course.course_info as c %}
                        <a href = "/activity/quiz/scores/faculty/course/{{c.0}}/{{c.1}}/{{c.2}}/{{c.3}}/{{c.4}}/{{c.5}}/">{{course.course_string}}</a>
                {%endwith %}
                
                   
                </td>
                <td>
                    {% for u in course.faculty %}
                        {{u}}
                        {%if not forloop.last%},{%endif%}
                    {% endfor %}
                </td>


            </tr>
        {%endfor %}
    </table>

{% endblock %}

