{% extends 'base.html' %}
{% block sidebarleft %}
    <ul>
        <li>
            <a href="/carr/">Back</a>
            </li>
    </ul>
{% endblock %}
{% block content %}

    School of Social Work courses:
        <ul>
        {% for course in ssw_courses %}
            <li>
               <a href = "/activity/quiz/scores/faculty" >{{course.course_string}}, taught by {{course.faculty_member}}. ({{course.semester}})</a>
            </li>
        {%endfor %}
    </ul>
    College of Dental Medicine courses:
    <ul>
        {% for course in dds_courses %}
            <li>
               <a href = "/activity/quiz/scores/faculty" >{{course.course_string}}, taught by {{course.faculty_member}}. ({{course.semester}})</a>
            </li>
        {%endfor %}
    </ul>
{% endblock %}

