{% extends 'base.html' %}
{% load quiz_template_tags %}
{% load smartif %}
{% block sidebarleft %}
    <ul>
        <li>
            <a href="/carr/">Back</a>
            </li>
    </ul>
{% endblock %}

{% block content %}
    <div>
        A list of all your courses this semester.
    </div>
    <div>

    {%for c in user.classes_i_teach %}
        <a href = "/activity/quiz/scores/faculty/course/{{c.0}}/{{c.1}}/{{c.2}}/{{c.3}}/{{c.4}}/{{c.5}}/">
t{{c.0}}.y{{c.1}}.s{{c.2}}.c{{c.3}}{{c.4}}.{{c.5}}</a>
    {% endfor %}
{%endblock%}
