<div class="activity_step  form_fields_are_not_editable" id="{{the_step_name}}">
    <div>Nice work! </div>
    <!-- all three snippets: -->
    <!-- Note these are NOT EDITABLE-->
    {% include "activity_taking_action/snippets/form_top.html" %}
    {% include "activity_taking_action/snippets/form_middle.html" %}
    {% include "activity_taking_action/snippets/form_bottom.html" %}
    <div class="purple_button taking_action_prev_button">Back</div>
    <div class="purple_button taking_action_next_button">View expert version</div>
    <div class ="taking_action_pagenumber">Page 9 of 11</div>
</div>
