<div class="activity_step" id="complete_report_middle_of_form">
    
    
    <div class ="ldss_form_div ldss_form_middle">
    
    
        <input type="text" class = "ldss_form_input line_1 column_1 small_input" value=""></input>
        <input type="text" class = "ldss_form_input line_1 column_2 small_input" value=""></input>
        <input type="text" class = "ldss_form_input line_1 column_3 small_input" value=""></input>
    
        <input type="text" class = "ldss_form_input line_2 column_1 small_input" value=""></input>
        <input type="text" class = "ldss_form_input line_2 column_2 small_input" value=""></input>
        <input type="text" class = "ldss_form_input line_2 column_3 small_input" value=""></input>
    
        <input type="text" class = "ldss_form_input line_3 column_1 small_input" value=""></input>
        <input type="text" class = "ldss_form_input line_3 column_2 small_input" value=""></input>
        <input type="text" class = "ldss_form_input line_3 column_3 small_input" value=""></input>
    
        <input type="text" class = "ldss_form_input line_4 column_1 small_input" value=""></input>
        <input type="text" class = "ldss_form_input line_4 column_2 small_input" value=""></input>
        <input type="text" class = "ldss_form_input line_4 column_3 small_input" value=""></input>
    
        <input type="text" class = "ldss_form_input line_5 column_1 small_input" value=""></input>
        <input type="text" class = "ldss_form_input line_5 column_2 small_input" value=""></input>
        <input type="text" class = "ldss_form_input line_5 column_3 small_input" value=""></input>
    
        <input type="text" class = "ldss_form_input line_6 column_1 small_input" value=""></input>
        <input type="text" class = "ldss_form_input line_6 column_2 small_input" value=""></input>
        <input type="text" class = "ldss_form_input line_6 column_3 small_input" value=""></input>
    
        <input type="text" class = "ldss_form_input line_7 column_1 small_input" value=""></input>
        <input type="text" class = "ldss_form_input line_7 column_2 small_input" value=""></input>
        <input type="text" class = "ldss_form_input line_7 column_3 small_input" value=""></input>
    
        <input type="text" class = "ldss_form_input line_8 column_1 small_input" value=""></input>
        <input type="text" class = "ldss_form_input line_8 column_2 small_input" value=""></input>
        <input type="text" class = "ldss_form_input line_8 column_3 small_input" value=""></input>
    
    
        <input type="text" class = "ldss_form_input reasons_for_suspicion_1" value=""></input>
        <input type="text" class = "ldss_form_input reasons_for_suspicion_2" value=""></input>
        
        
        <input type="text" class = "ldss_form_input month" value=""></input>
        <input type="text" class = "ldss_form_input day" value=""></input>
        <input type="text" class = "ldss_form_input year" value=""></input>
    
    
    
    </div>
    
    <div class="purple_button taking_action_next_button">
	    Next 
    </div>
    <div class ="taking_action_pagenumber">Page 7 of 11</div>
</div>
