{% extends 'base.html' %}
{% load markup %}
{% load smartif %}
{% block title %}{% endblock %}
{% block js %}
<script type="text/javascript" src="/site_media/js/mochikit/MochiKit/MochiKit.js"></script> 
<script type="text/javascript" src="/site_media/taking_action/js/nav.js"></script>
<script type="text/javascript" src="/site_media/taking_action/js/taking_action.js"></script>
<script type="text/javascript" src="/site_media/taking_action/js/new_taking_action.js"></script>
<script type="text/javascript">addLoadEvent(set_up_all_form_fields);</script>
{% endblock %}

{% block css %}
    <link href="/site_media/taking_action/css/taking_action.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block sidebarleft %}{% endblock %}

{% block content %}
    <script language="javascript">
        student_response = {{student_json|safe}};
    </script>
    <div class="form_fields_are_not_editable" id="student_response_form">
        <div>
            Sample LDSS-2221A form, as filled out by {{student.first_name }} {{student.last_name }}:
        </div>
        {% include "activity_taking_action/snippets/form_top.html"    %}
        {% include "activity_taking_action/snippets/form_middle.html" %}
        {% include "activity_taking_action/snippets/form_bottom.html" %}
    </div>
{% endblock %}
{% block contentnav %}
{% endblock %}


