   <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/MochiKit.js"></script>
   
   <script type="text/javascript" src="/site_media/taking_action/js/review_case_history.js"></script>
   <script type="text/javascript" src="/site_media/taking_action/js/analyze_action_criteria.js"></script>
   <script type="text/javascript" src="/site_media/taking_action/js/choose_action.js"></script>
   <script type="text/javascript" src="/site_media/taking_action/js/action_feedback.js"></script>
   <script type="text/javascript" src="/site_media/taking_action/js/next_steps.js"></script>
   <script type="text/javascript" src="/site_media/taking_action/js/next_steps_feedback.js"></script>
   <script type="text/javascript" src="/site_media/taking_action/js/complete_report.js"></script>
   <script type="text/javascript" src="/site_media/taking_action/js/case_summary.js"></script>
   
   <script type="text/javascript" src="/site_media/taking_action/js/taking_action.js"></script>
   
   
   
   <!--
       
   </div>
   <div class = "activity_step" id ="analyze_action_criteria">
    analyze
   <div class="purple_button" id = "analyze_action_criteria_next">next</div>
   </div>
   
   
   <div class = "activity_step" id ="choose_action">
    choose
      <div class="purple_button" id = "choose_action_criteria_next">next</div>
 
   </div>
   <div class = "activity_step" id ="action_feedback">
    feedback
   </div>
   <div class = "activity_step" id ="next_steps">
   next steps
   </div>
   <div class = "activity_step" id ="next_steps_feedback">
   feedback
   </div>
   <div class = "activity_step" id ="complete_report">
    report
   </div>
   <div class = "activity_step" id ="case_summary">
    summary
   </div>-->
   
   
   <link href="/site_media/taking_action/css/taking_action.css" rel="stylesheet" type="text/css" />
   

<a class="reset_button" href="#" onclick="clearState(); return false;">Reset Exercise</a>
  <div id ="hidden_js_info">
    <div id = "case_name"></div>
   </div>
   
   
   <div class = "activity_step" id ="review_case_history">
        <div class = "half-page">
        Case History
        (case history goes here.)
        
        </div>
        <div class = "half-page">
           <p>Your Observations</p>
           <p> <input type="checkbox" /> Checkbox</p>
           <p> <input type="checkbox" /> Checkbox</p>
           <p> <input type="checkbox" /> Checkbox</p>
           <p> <input type="checkbox" /> Checkbox</p>
           <p> Other observations:</p>
           <p><textarea id = "asd" >dsf</textarea></p>
            <div class="purple_button" id = "review_case_history_next">next</div>
        </div>
        
    
   </div>
   <div class = "activity_step" id ="analyze_action_criteria">
    analyze
   <div class="purple_button" id = "analyze_action_criteria_next">next</div>
   </div>
   
   
   <div class = "activity_step" id ="choose_action">
    choose
      <div class="purple_button" id = "choose_action_criteria_next">next</div>
 
   </div>
   <div class = "activity_step" id ="action_feedback">
    feedback
   </div>
   <div class = "activity_step" id ="next_steps">
   next steps
   </div>
   <div class = "activity_step" id ="next_steps_feedback">
   feedback
   </div>
   <div class = "activity_step" id ="complete_report">
    report
   </div>
   <div class = "activity_step" id ="case_summary">
    summary
   </div>

   
      
   <!--
   <div id = "case_info_div">
        <div id ="bruise_recon_photo_container">
           <div>Injury Photos and Location:</div>
           <div>
           </div>
       </div>
       
       <div id = "bruise_recon_history_container">
           <div>Case History:</div>
           <div>
           </div>
       </div>
   </div>

   <div id ="questions_div">
       <div>
        Questions:
       </div>
       <div>
           Is this likely to be a case of child abuse?
       </div>
       <div class = "buttons_div">
           <div class="answer_button purple_button" id ="answer_yes">Yes</div>
           <div class="answer_button purple_button" id ="answer_no">No</div>
       </div>

       <div class = "factors_div">
            <div>What factor(s) led you to this decision?</div>
            <div class ="bruise_recon_checkbox_div purple_button" id="patterns">
                Patterns
            </div>
            <div class ="bruise_recon_checkbox_div purple_button" id="severity">
                Severity
            </div>
            <div class ="bruise_recon_checkbox_div purple_button" id="location">
                Body Location
            </div>
            <div class ="bruise_recon_checkbox_div purple_button" id="explanation">
                Explanation&nbsp;Credibility
            </div>
       </div>
       
       
       <div class="submit_div purple_button"  id ="submit_div">Submit</div>
   </div>
   
   <div id="feedback_div">
       <div id = "your_answer_was">
       </div>
       
       <div id ="correct_answer">
           Correct answer: Is this a case of abuse? <em></em>. 
       </div>
       
       <div>Explanation:</div>
       
       <div class="explanation">
       </div>
       
       <div id="correct_factors">
       </div>
   </div>
   
   -->
     
