{% load smartif %} 
<script type="text/javascript" src="/site_media/js/mochikit/MochiKit/MochiKit.js"></script> 
<script type="text/javascript" src="/site_media/taking_action/js/nav.js"></script> 
<script type="text/javascript" src="/site_media/taking_action/js/review_case_history.js"></script> 
<script type="text/javascript" src="/site_media/taking_action/js/analyze_action_criteria.js"></script> 
<script type="text/javascript" src="/site_media/taking_action/js/choose_action.js"></script> 
<script type="text/javascript" src="/site_media/taking_action/js/action_feedback.js"></script> 
<script type="text/javascript" src="/site_media/taking_action/js/next_steps.js"></script> 
<script type="text/javascript" src="/site_media/taking_action/js/next_steps_feedback.js"></script> 
<script type="text/javascript" src="/site_media/taking_action/js/complete_report.js"></script> 
<script type="text/javascript" src="/site_media/taking_action/js/case_summary.js"></script> 
<script type="text/javascript" src="/site_media/taking_action/js/taking_action.js"></script> 

<script type="text/javascript" >
hide_expert_form_toggle_button = false;
{% if "cdm" in block.site.domain%} 
       hide_expert_form_toggle_button = true;
{%endif%} 
</script> 
<!--
	</div>
	<div class = "activity_step" id ="analyze_action_criteria">
	analyze
	<div class="purple_button" id = "analyze_action_criteria_next">next</div>
	</div>
	<div class = "activity_step" id ="choose_action">
	choose
	<div class="purple_button" id = "choose_action_criteria_next">next</div>
	</div>
	<div class = "activity_step" id ="action_feedback">
	feedback
	</div>
	<div class = "activity_step" id ="next_steps">
	next steps
	</div>
	<div class = "activity_step" id ="next_steps_feedback">
	feedback
	</div>
	<div class = "activity_step" id ="complete_report">
	report
	</div>
	<div class = "activity_step" id ="case_summary">
	summary
	</div>
-->

<link href="/site_media/taking_action/css/taking_action.css" rel="stylesheet" type="text/css" />
<!--
<a class="reset_button" href="#" onclick="clearState(); return false;">
	Reset Exercise 
</a>

-->
<div id="hidden_js_info">
</div>

{% with "review_case_history" as the_step_name %}
    {% include "activity_taking_action/step_review_case_history.html" %}
{% endwith %}

{% with "analyze_action_criteria" as the_step_name %}
    {% include "activity_taking_action/step_analyze_action_criteria.html" %}
{% endwith %}

{% with "choose_action" as the_step_name %}
    {% include "activity_taking_action/step_choose_action.html" %}
{% endwith %}

{% with "next_steps" as the_step_name %}
    {% include "activity_taking_action/step_next_steps.html" %}
{% endwith %}

{% with "complete_report" as the_step_name %}
    {% include "activity_taking_action/step_complete_report.html" %}
{% endwith %}

{% with "case_summary" as the_step_name %}
    {% include "activity_taking_action/step_case_summary.html" %}
{% endwith %}
