 {%load smartif %}
   <ul id="standardnav">
      {% if user.is_authenticated %}
           <li><a href="/logout">Logout</a></li>
        {% else %}
           <li><a href="/accounts/login/?next=/welcome/">Login</a></li>
        {% endif %}
      <li><a href="/about/">About</a></li>
      <li><a href="/credits/">Credits</a></li>
      <li><a href="/contact/">Contact</a></li>
      
    {%if user.user_type == "student" %}
        <li><a href="/activity/quiz/scores/student">My Scores</a></li>
    {% endif %}
  
  
    {%if user.user_type == "faculty" %}
	    <li><a href="/activity/quiz/scores/faculty">My Students' Scores</a></li>
    {% endif %}
    
    {%if user.is_staff %}
	    <li><a href="/activity/quiz/scores/admin">All Scores</a></li>
      <li><a href="/site_media/selenium/TestRunner.html?test=..%2Ftests%2FTestSuite.html">Tests</a></li>
    {% endif %}
   </ul>
