<div>
	<div class="{{the_step_name}} action_button second_round_action second_round_action_1">
        Do nothing. You have fulfilled your obligation.
    </div>
    <p class="{{the_step_name}} action_explanation second_round_action_1">
        This is the wrong answer. After calling the SCR you must complete and submit form LDSS-2221A. 
    </p>
</div>
<div>
    <div class="{{the_step_name}} action_button second_round_action second_round_action_2">
        Call SCR again to follow up. 
    </div>
    <p class="{{the_step_name}} action_explanation second_round_action_2">
        This is the wrong answer. A second call is not necessary. 
    </p>
</div>
<div>
    <div class="{{the_step_name}} action_button second_round_action second_round_action_3 correct_choice">
        Submit form LDSS-2221A within 48 hours of calling the SCR.
    </div>
    <p class="{{the_step_name}} action_explanation second_round_action_3 correct_choice">
        This is the right answer. After calling the SCR, you must submit the LDSS-2221A within 48 hours.
    </p>
</div>
<div>
    <div class="{{the_step_name}} action_button second_round_action second_round_action_4">
        Contact family to follow up on child.
    </div>
    <p class="{{the_step_name}} action_explanation second_round_action_4">
        This is the wrong answer. Do not contact the child's family about your report to the SCR.
    </p>
</div>
