<p class="half-page_heading">
	Choose an Action Plan 
</p>
{% if "cdm" in block.site.domain%} 
<div>
	<div class="{{the_step_name}} action_button first_round_action first_round_action_1">
		Do Nothing 
	</div>
	<p class="{{the_step_name}} action_explanation first_round_action_1">
		This is the wrong answer because a three-year old child is "unlikely" to run into a doorknob, given a child's height at that age. 
	</p>
</div>
<div>
	<div class="{{the_step_name}} action_button first_round_action first_round_action_2 correct_choice">
		Call SCR 
	</div>
	<p class="{{the_step_name}} action_explanation first_round_action_2  correct_choice">
		This is the right answer because you suspect that the child is being abused. You should also perform clinical and radioactive dental examinations to review the extent of the injury. This is done to identify the magnitude of force involved in the injury, which will help to verify or refute the mother's story.
	</p>
</div>
<div>
	<div class="{{the_step_name}} action_button first_round_action first_round_action_3">
		Call 911 
	</div>
	<p class="{{the_step_name}} action_explanation first_round_action_3">
		This is the wrong answer because the child is not in imminent danger.
	</p>
</div>
{%endif%} {% if "ssw" in block.site.domain%} 
<div>
	<div class="{{the_step_name}} action_button first_round_action first_round_action_1">
		Do Nothing 
	</div>
	<p class="{{the_step_name}} action_explanation first_round_action_1">
		This is the wrong answer because the child may in fact be in a dangerous situation with her mother's boyfriend. 
	</p>
</div>
<div>
	<div class="{{the_step_name}} action_button first_round_action first_round_action_2 correct_choice">
		Call SCR 
	</div>
	<p class="{{the_step_name}} action_explanation first_round_action_2 correct_choice">
		This is the right answer because you suspect that the child is being abused. 
	</p>
</div>
<div>
	<div class="{{the_step_name}} action_button first_round_action first_round_action_3">
		Call 911 
	</div>
	<p class="{{the_step_name}} action_explanation first_round_action_3">
		This is the wrong answer because the child is not in imminent danger. 
	</p>
</div>

    {% if "cdm" in block.site.domain%} 
    <div>
	    <div class="{{the_step_name}} action_button first_round_action first_round_action_4 correct_choice correct_choice">
		    Perform clinical and radioactive dental examinations to review the extent of the injury. 
	    </div>
	
	
	    <p class="{{the_step_name}} action_explanation first_round_action_4">
		    This is done to identify the magnitude of force involved in the injury, which will help to verify or refute the mother's story. 
        </p>
    </div>
    {%endif%}
{%endif%} 
