{% extends "base.html" %}

{% block css %}{% endblock %}

{% block title %}About{% endblock %}

{% block standardnav %}
   {% include "project_standard_nav.html" %}
{% endblock %}

{% block primarynavtabs %}
{% endblock %}

{% block content %}
   <h2 class="title">About</h2>
   <div>
   The Child Abuse Reporting Education (CARE) Project is an online resource designed to teach graduate students in the Columbia University School of Social Work and the College of Dental Medicine how to recognize the symptoms of child abuse and how to report abuse when acting in their professional capacities.

Social workers, dentists, and all other human service professionals are required by law to report suspected abuse or maltreatment of minors to the New York State Central Register of Child Abuse and Maltreatment. The CARE Project provides a guided structure to child abuse reporting requirements courses at Columbia University, providing students with access to online training modules created to enhance understanding and practice of child abuse reporting standards. Each module contains informational text and images, interactive learning activities, and pre- and post- course evaluations that allow students to test their understanding of what they have learned. Once the training modules are completed, students then discuss the CARE material in class with instructors.
   </div>
{% endblock %}
         
