<div class ="ldss_form_div ldss_form_top">
    <!-- see activity_taking_action/media/css/taking_action.css for positioning info. -->
    
    <input type="text" class = "ldss_form_input top_1" value=""></input>
    <input type="text" class = "ldss_form_input top_2" value=""></input>
    <input type="text" class = "ldss_form_input top_3" value=""></input>
    <input type="text" class = "ldss_form_input top_4" value=""></input>
    <input type="text" class = "ldss_form_input top_5" value=""></input>

    <input type="text" class = "ldss_form_input line_1 name_column" value=""></input>
    <input type="text" class = "ldss_form_input line_1 sex_column" value=""></input>
    <input type="text" class = "ldss_form_input line_1 age_column" value=""></input>
    <input type="text" class = "ldss_form_input line_1 race_column" value=""></input>
    <input type="text" class = "ldss_form_input line_1 ethnicity_column" value=""></input>
    <input type="text" class = "ldss_form_input line_1 relation_column" value=""></input>
    <input type="text" class = "ldss_form_input line_1 role_column" value=""></input>
    <input type="text" class = "ldss_form_input line_1 lang_column" value=""></input>
    
    <input type="text" class = "ldss_form_input line_2 name_column" value=""></input>
    <input type="text" class = "ldss_form_input line_2 sex_column" value=""></input>
    <input type="text" class = "ldss_form_input line_2 age_column" value=""></input>
    <input type="text" class = "ldss_form_input line_2 race_column" value=""></input>
    <input type="text" class = "ldss_form_input line_2 ethnicity_column" value=""></input>
    <input type="text" class = "ldss_form_input line_2 relation_column" value=""></input>
    <input type="text" class = "ldss_form_input line_2 role_column" value=""></input>
    <input type="text" class = "ldss_form_input line_2 lang_column" value=""></input>
    
    <input type="text" class = "ldss_form_input line_3 name_column" value=""></input>
    <input type="text" class = "ldss_form_input line_3 sex_column" value=""></input>
    <input type="text" class = "ldss_form_input line_3 age_column" value=""></input>
    <input type="text" class = "ldss_form_input line_3 race_column" value=""></input>
    <input type="text" class = "ldss_form_input line_3 ethnicity_column" value=""></input>
    <input type="text" class = "ldss_form_input line_3 relation_column" value=""></input>
    <input type="text" class = "ldss_form_input line_3 role_column" value=""></input>
    <input type="text" class = "ldss_form_input line_3 lang_column" value=""></input>
    
    <input type="text" class = "ldss_form_input line_4 name_column" value=""></input>
    <input type="text" class = "ldss_form_input line_4 sex_column" value=""></input>
    <input type="text" class = "ldss_form_input line_4 age_column" value=""></input>
    <input type="text" class = "ldss_form_input line_4 race_column" value=""></input>
    <input type="text" class = "ldss_form_input line_4 ethnicity_column" value=""></input>
    <input type="text" class = "ldss_form_input line_4 relation_column" value=""></input>
    <input type="text" class = "ldss_form_input line_4 role_column" value=""></input>
    <input type="text" class = "ldss_form_input line_4 lang_column" value=""></input>
    
    <input type="text" class = "ldss_form_input line_5 name_column" value=""></input>
    <input type="text" class = "ldss_form_input line_5 sex_column" value=""></input>
    <input type="text" class = "ldss_form_input line_5 age_column" value=""></input>
    <input type="text" class = "ldss_form_input line_5 race_column" value=""></input>
    <input type="text" class = "ldss_form_input line_5 ethnicity_column" value=""></input>
    <input type="text" class = "ldss_form_input line_5 relation_column" value=""></input>
    <input type="text" class = "ldss_form_input line_5 role_column" value=""></input>
    <input type="text" class = "ldss_form_input line_5 lang_column" value=""></input>
    
    <input type="text" class = "ldss_form_input line_6 name_column" value=""></input>
    <input type="text" class = "ldss_form_input line_6 sex_column" value=""></input>
    <input type="text" class = "ldss_form_input line_6 age_column" value=""></input>
    <input type="text" class = "ldss_form_input line_6 race_column" value=""></input>
    <input type="text" class = "ldss_form_input line_6 ethnicity_column" value=""></input>
    <input type="text" class = "ldss_form_input line_6 relation_column" value=""></input>
    <input type="text" class = "ldss_form_input line_6 role_column" value=""></input>
    <input type="text" class = "ldss_form_input line_6 lang_column" value=""></input>
    
    <input type="text" class = "ldss_form_input line_7 name_column" value=""></input>
    <input type="text" class = "ldss_form_input line_7 sex_column" value=""></input>
    <input type="text" class = "ldss_form_input line_7 age_column" value=""></input>
    <input type="text" class = "ldss_form_input line_7 race_column" value=""></input>
    <input type="text" class = "ldss_form_input line_7 ethnicity_column" value=""></input>
    <input type="text" class = "ldss_form_input line_7 relation_column" value=""></input>
    <input type="text" class = "ldss_form_input line_7 role_column" value=""></input>
    <input type="text" class = "ldss_form_input line_7 lang_column" value=""></input>
    
    <input type="text" class = "ldss_form_input line_8 address_column" value=""></input>
    <input type="text" class = "ldss_form_input line_8 phone_column" value=""></input>
    
    <input type="text" class = "ldss_form_input line_9 address_column" value=""></input>
    <input type="text" class = "ldss_form_input line_9 phone_column" value=""></input>
</div>
