<p class="half-page_heading">
	Your Observations 
</p>
{% if not IS_SOCIALWORK %} 
    <p>
	    <input type="checkbox" class="{{the_step_name}} checkbox observation observation_1" />
	    The child's injuries are consistent with the history of reported trauma. 
    </p>
    <p>
	    <input type="checkbox" class="{{the_step_name}} checkbox observation observation_2" />
	    The child did not tell you how he got hurt. 
    </p>
    <p>
	    <input type="checkbox" class="{{the_step_name}} checkbox observation observation_3" />
	    The child's mother waited four days before seeking treatment. 
    </p>
    <p>
	    <input type="checkbox" class="{{the_step_name}} checkbox observation observation_4" />
	    The lower teeth are injured. 
    </p>
{% else %}
    <p>
	    <input type="checkbox" class="{{the_step_name}} checkbox observation observation_1" />
	    The girl is caught in a bitter divorce and custody battle. 
    </p>
    <p>
	    <input type="checkbox" class="{{the_step_name}} checkbox observation observation_2" />
	    The girl says she is not comfortable around her mother's boyfriend. 
    </p>
    <p>
	    <input type="checkbox" class="{{the_step_name}} checkbox observation observation_3" />
	    The father tells you about the daughter's experiences with her mother's boyfriend. 
    </p>
    <p>
	    <input type="checkbox" class="{{the_step_name}} checkbox observation observation_4" />
	    The daughter is being abused by her mother's boyfriend. 
    </p>
{%endif%} 
<p class="half-page_heading">
	Other Observations 
</p>
<p>
<textarea class="{{the_step_name}} other_observations"></textarea> 
</p>
